
body {
	width: 600px;
	font-family: Sans Serif;
	background-color: black;
	color: gray;
	padding-bottom: 400px;
}
footnote {
	display: none;
	position: relative;
	font-size: .7em;
	vertical-align: top;
	margin: 0px 2px;
	color: #bada55;
	border-bottom: 1px solid;
	cursor: pointer;
}

footnote > div {
	position: absolute;
	left: 10px;
	top: -5px;
	padding: 12px;
	font-size: 1.1em;
	color: black; 
	border: 1px dashed #bada55;
	background-color: gray;
	text-decoration: none;
	width: 230px;
	z-index: 200;
}

li {
	padding-bottom: 12px;
}

hr {
	border-color: #bada55;
	width: 30%;
	height: 1px;
	margin-top: 35px;
	margin-bottom: 35px;
}



/* tables */

table {
	border-collapse: collapse;
}

th {
	color: #222222;
	background-color: #7a9a15;
}

td, th {
	border: 1px solid #7a9a15;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 5px;
}

td > a {
	color: #bada55;
}
td > a:visited {
	color: #bada55;
}

table.striped3 tbody tr:nth-child(3n) {
	background-color: #333333;
}
table.striped3 tbody tr:nth-child(12n) td {
	border-bottom-width: 4px !important;
}